

nav	{
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	position: relative;
	

}

ul	{
	display: inline-block;
}

li	{
	display: inline-block;
}

div	{
	height: 300px;
	width: 600px;
	border: 10px green dotted;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}