

nav	{
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	position: relative;
}

ul	{
	display: inline-block;
}

li	{
	display: inline-block;
}

div	{
	height: 300px;
	width: 600px;
	border: 10px green;
	border-style: dotted;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.bg	{
	min-height: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px)
	.bg	{
		left: 50%;
		margin-left: -512px;
	}